<div class="main-container">
  <!-- Profile background large image -->
  <div class="row profile-background">
    <img src="/header.jpg" width=1500px height=500px>
    <div class="container">
	  <!-- User main avatar -->
      <div class="avatar-container">
        <div class="avatar">
            <img class="avatar" src=<%="https://secure.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email)}"%>  />
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar profile-stats">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-6">
          <ul>
            <li class="profile-stats-item-active">
              <a>
                <span class="profile-stats-item profile-stats-item-label">Rooms</span>
                <span class="profile-stats-item profile-stats-item-number"><%= @user.rooms.length %></span>
              </a>
            </li>
            <li>
              <a>
                <span class="profile-stats-item profile-stats-item-label">Following</span>
                <span class="profile-stats-item profile-stats-item-number"><%= @user.favorites.length %></span>
              </a>
            </li>
            <li>
              <a>
                <span class="profile-stats-item profile-stats-item-label">Followers</span>
                <span class="profile-stats-item profile-stats-item-number"><%= @user.favorited.length %></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
  </nav>
  <div class="container main-content">
    <div class="row">
      <div class="col profile-col">
        <!-- Left column -->
        <div class="profile-header">
          <!-- Header information -->
          <h3 class="profile-fullname"><a><%= @user.username %><a></h3>
          <div class="pic-grid">
            <!-- Image grid -->
            <div class="row">
            </div>
            <!-- End: row -->
            <div class="row">
            </div>
            <!-- End: row -->
          </div>
          <!-- End: image grid -->
        </div>
      </div>
      <!-- End; Left column -->
      <!-- Center content column -->
      <div class="col-6">
        <ol class="tweet-list">
          <% @user.rooms.each do |room| %>
            <li class="tweet-card">
            <div class="tweet-content">
              <div class="tweet-header">
                <span class="fullname">
                  <strong><%= room.name %></strong>
                </span>
              </div>
              <div class="tweet-text">
                <p class=""  data-aria-label-part="0">
                    <%= room.description %>
                </p>
              </div>
              <div class="tweet-footer">
                <% if room.user_id == current_user.id %>
                    <a class="btn btn-success" href=<%= join_meeting(password=ENV['BBB_MP'], room_id=room.meetingID, name=current_user.username) %>>Join</a>
                <% else %>
                    <a class="btn btn-success" href=<%= join_meeting(password=ENV['BBB_AP'], room_id=room.meetingID, name=current_user.username) %>>Join</a>
                <% end %>
                <% if room.user_id == current_user.id %>
                    <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
              </div>
            </div>
          </li>
          <% end %>
        <!-- End: tweet list -->
      </div>
      <!-- End: Center content column -->
      <div class="col right-col">
        <div class="content-panel">
          <div class="panel-header">
            <!--END: Follow list -->
          </div>
        </div>
      </div>
    </div>
  </div>